<div class="reviews-section" [ngStyle]="{'background-image': 'url(' + (business.hero_image || fallbackHeroImage) + ')'}">
  <div class="overlay"></div>
  <div class="reviews-container">
    <h2 class="reviews-title">What Our Customers Are Saying</h2>

    <div class="row justify-content-center g-4">
      <div class="col-md-6 col-lg-4" *ngFor="let review of reviews">
        <div class="review-card">
          <h5 class="review-author">{{ review.author }} <span class="stars">{{ review.stars }}</span></h5>
          <p class="review-text">{{ review.text }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
