<app-business-profile-header [business]="business"></app-business-profile-header>


  
  <div class="banner" [ngStyle]="{'background-color': business.colors.primary}">
    <div class="banner-sections">
      <div class="banner-section"></div>
      <div class="banner-section">
        <p>Mon - Sat: 11am - 10pm</p>
        <p>Sunday: 11am - 9pm</p>
      </div>
      <div class="banner-section">
        <p>{{ business.address }}</p>
        <p>{{ business.phone }}</p>
      </div>
      <div class="banner-section"></div>
    </div>
  </div>
  
  <div class="gallery">
    <img *ngFor="let photo of business.photos" [src]="photo" alt="Gallery Image">
  </div>
  
  <div class="banner2" [ngStyle]="{'background-color': business.colors.secondary}">
    <div class="banner-sections2">
      <h2 class="banner-title">{{ business.banner }}</h2>
    </div>
  </div>
  
  <!-- <div class="reviews-section" [ngStyle]="{'background-image': 'url(' + business.hero_image + ')'}">
    <h2 class="reviews-title">See What Our Customers Have To Say!</h2>
    <div class="review" *ngFor="let review of business.reviews">
      <h3 class="review-author">{{ review.author }} <span class="stars">{{ review.rating }}</span></h3>
      <p class="review-text">{{ review.text }}</p>
    </div>
  </div> -->

 <app-business-profile-reviews [business]="business"></app-business-profile-reviews>
  
  <div class="footer-container">
    <div class="footer-content">
      <div class="map-container">
        <iframe width="100%" height="100%" style="border:0" loading="lazy" allowfullscreen
          [src]="safeMapUrl">
        </iframe>
      </div>
      <div class="restaurant-info text-center" [ngStyle]="{'background-color': business.colors.primary}">
        <h2>{{ business.name }}</h2>
        <p>Address: {{ business.address }}</p>
        <p>Phone: {{ business.phone }}</p>
        <h4>Hours:</h4>
        <p>Mon - Sat: 11am - 10pm</p>
        <p>Sunday: 11am - 9pm</p>
      </div>
    </div>
    <div class="footer-details">
      <p>©2024 by {{ business.name }}</p>
    </div>
  </div>
  