
  .banner {
    color: white;
    text-align: center;
  }
  
  .banner-title {
    font-size: 2em;
    margin: auto;
  }
  
  .banner-sections {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }
  
  .banner-section {
    flex: 1;
    margin: 0 10px;
    font-size: 24px;
  
    @media (max-width: 768px) {
      margin: 10px 0;
      padding: 10px 0;
    }
  }
  
  .banner-section p {
    margin: 5px 0;
  }
  
  .banner2 {
    color: white;
    height: 150px;
  }
  
  .banner-sections2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    margin: auto;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;
  
    @media (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }
  
    @media (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }
  
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
  
  .gallery img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  
  .footer-container {
    background-color: #f9f9f9;
    padding: 20px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  
    @media (max-width: 768px) {
      flex-direction: column;
      text-align: center;
    }
  }
  
  .map-container {
    width: 50%;
    height: 400px;
  
    @media (max-width: 768px) {
      width: 100%;
      height: 300px;
    }
  }
  
  .restaurant-info {
    width: 50%;
    padding: 20px;
    height: 400px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
    @media (max-width: 768px) {
      width: 100%;
      height: auto;
      padding: 10px;
    }
  }
  
  .restaurant-info h2 {
    margin-top: 0;
  }
  
  .footer-details {
    text-align: center;

    p {
      margin: 0;
      font-size: 14px;
    }
  }
  


