#map {
    border: 1px solid #ddd;
  }
  
  .search-results {
    h3 {
      color: #333;
    }
    
    .table {
      th {
        color: #b3cee3;
      }
    }
  }
  

  .no-website {
    background-color: #d4edda !important; /* Light green background */
    color: #155724 !important; /* Dark green text */
  }
  